.contacto {

    .formulario {
        max-width:40rem;
        
        label,p{
            font-size: 1.3rem;
            
        }

        input {
            margin-bottom: 1rem;
        }
    }
    
}