<section class="sobre-nosotros b-yellow">
  <div class="row align-items-center justify-content-center text-center ">
    <div class="col-12 texto-sn">
      <h2 class="subtitulo align-items-center justify-content-center text-center">Sobre Nosotros</h2>
      <p class="t-sn"><b>MAGC Ingeniería y Montajes Spa</b> se especializa
         en brindar servicios de alta calidad a empresas de construcción,
          enfocándose en los sectores inmobiliario, hospitalario,
           industrial y relacionados con la electricidad,
            corrientes débiles y seguridad electrónica. Nuestro compromiso
             es lograr la satisfacción de nuestros clientes al proporcionar
              servicios de calidad a un costo que nos permita cumplir con 
              nuestras responsabilidades hacia ellos, nuestros proveedores y
               empleados. <br><br> Además, nos esforzamos 
               por mantener altos estándares de eficiencia, calidad y 
               seguridad laboral, controlando las causas fundamentales
                que puedan ocasionar pérdidas o lesiones. Asimismo,
                 nos preocupamos por interactuar de manera segura
                  con nuestro entorno y preservar el medio ambiente,
                   siguiendo procedimientos establecidos para minimizar
                    nuestro impacto.</p>

      <h2 class="subtitulo align-items-center justify-content-center text-center mt-3">Nuestra Misión</h2>
      <p class="t-sn">Ser reconocidos a nivel nacional como
         una empresa líder en el campo de la ingeniería y los
          montajes, especializada en servicios eléctricos,
           corrientes débiles y seguridad electrónica. Nos 
           esforzamos por mantener altos estándares de calidad
            y mejora continua, posicionándonos en el mercado y
             logrando la plena satisfacción de nuestros clientes.</p>

                   

    </div>
  </div>
</section>
