<section class="portafolio b-yellow">
  <div class="row align-items-center justify-content-center align-items-center justify-content-center text-center">
    <div class="col-12">
      <h2 class="subtitulo">Portafolio</h2>
    </div>
    
  
<div class="col-4">
  <div class="row align-items-center justify-content-center mt-4">
    <div class="card" style="width: 20rem;">
      <img src="assets/img/cafeteria.jpg" class="img-card" alt="...">
      <div class="card-body">
        <h5 class="card-title">Instalación Electrica Comercial</h5>
        <p class="card-text">El proyecto de instalación eléctrica comercial en una cafetería demuestra un enfoque seguro y eficiente, garantizando un entorno óptimo para la operación de equipos y sistemas eléctricos.</p>
        <a href="#" class="btn btn-warning">Conoce más</a>
      </div>
    </div>
  </div>
</div>

<div class="col-4">
  <div class="row align-items-center justify-content-center mt-4">
    <div class="card" style="width: 20rem;">
      <img src="assets/img/hospital.jpg" class="img-card" alt="...">
      <div class="card-body">
        <h5 class="card-title">Instalación Electrica <br>Sector Hospitalario</h5>
        <p class="card-text">La instalación eléctrica en hospitales brinda energía segura y confiable para equipos médicos críticos y garantiza la seguridad de pacientes y personal.</p>
        <a href="#" class="btn btn-warning">Conoce más</a>
      </div>
    </div>
  </div>
</div>

<div class="col-4">
  <div class="row align-items-center justify-content-center mt-4">
    <div class="card" style="width: 20rem;">
      <img src="assets/img/casa.jpg" class="img-card" alt="...">
      <div class="card-body">
        <h5 class="card-title">Reparación Electrica Residencial</h5>
        <p class="card-text">La reparación eléctrica residencial resuelve problemas eléctricos en hogares, garantizando un funcionamiento seguro y eficiente de los sistemas eléctricos.</p>
        <a href="#" class="btn btn-warning">Conoce más</a>
      </div>
    </div>
  </div>
</div>


