<section class="servicios b-white">
  <div class="row align-items-center justify-content-center text-center">
    <div class="col-12">
      <h2 class="subtitulo">Servicios</h2>
    </div>
    <div class="col-4">
      <div class="row align-items-center justify-content-center">
        <div class="col-12">
          <p class="titulo-card">Instalaciones eléctricas residenciales</p>
        </div>
        <div class="col-12 card-servicio mb-5">
            <img src="assets/img/hogar-servicios.png"/>
        </div>
        
        <div class="form-step form-step-active">
          <div class="btn-group-toggle" data-toggle="buttons">
            <button class="btn btn-outline-secondary"
                    onmouseover="this.classList.add('btn-outline-secondary-hover')" 
                    onmouseout="this.classList.remove('btn-outline-secondary-hover')">
              Instalación de cableado eléctrico
            </button>
            <button class="btn btn-outline-secondary"
                    onmouseover="this.classList.add('btn-outline-secondary-hover')" 
                    onmouseout="this.classList.remove('btn-outline-secondary-hover')">
              Instalación de sistemas de iluminación
            </button>
            <button class="btn btn-outline-secondary"
                    onmouseover="this.classList.add('btn-outline-secondary-hover')" 
                    onmouseout="this.classList.remove('btn-outline-secondary-hover')">
              Instalación de tomacorrientes y enchufes
            </button>
            <button class="btn btn-outline-secondary"
                    onmouseover="this.classList.add('btn-outline-secondary-hover')" 
                    onmouseout="this.classList.remove('btn-outline-secondary-hover')">
              Instalación de paneles de distribución y fusibles
            </button>
            <button class="btn btn-outline-secondary"
                    onmouseover="this.classList.add('btn-outline-secondary-hover')" 
                    onmouseout="this.classList.remove('btn-outline-secondary-hover')">
              Instalación de sistemas de ventilación
            </button>
            <button class="btn btn-outline-secondary"
                    onmouseover="this.classList.add('btn-outline-secondary-hover')" 
                    onmouseout="this.classList.remove('btn-outline-secondary-hover')">
              Instalación de sistemas de calefacción eléctrica
            </button>
            <button class="btn btn-outline-secondary"
                    onmouseover="this.classList.add('btn-outline-secondary-hover')" 
                    onmouseout="this.classList.remove('btn-outline-secondary-hover')">
              Instalación de sistemas de seguridad y alarmas
            </button>
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-4">
      <div class="row align-items-center justify-content-center">
        <div class="col-12">
          <p class="titulo-card">Mantenimiento y reparación eléctrica</p>
        </div>
        <div class="col-12 card-servicio mb-5 justify-content">
            <img src="assets/img/reparacion-servicios.png"/>
        </div>

        <div class="form-step form-step-active">
          <div class="btn-group-toggle" data-toggle="buttons">
            <button class="btn btn-outline-secondary"
                    onmouseover="this.classList.add('btn-outline-secondary-hover')" 
                    onmouseout="this.classList.remove('btn-outline-secondary-hover')">
              Reparación de cortocircuitos
            </button>
            <button class="btn btn-outline-secondary"
                    onmouseover="this.classList.add('btn-outline-secondary-hover')" 
                    onmouseout="this.classList.remove('btn-outline-secondary-hover')">
              Reemplazo de interruptores y enchufes
            </button>
            <button class="btn btn-outline-secondary"
                    onmouseover="this.classList.add('btn-outline-secondary-hover')" 
                    onmouseout="this.classList.remove('btn-outline-secondary-hover')">
              Solución de problemas de iluminación
            </button>
            <button class="btn btn-outline-secondary"
                    onmouseover="this.classList.add('btn-outline-secondary-hover')" 
                    onmouseout="this.classList.remove('btn-outline-secondary-hover')">
              Mantenimiento y reparación de cableado
            </button>
            <button class="btn btn-outline-secondary"
                    onmouseover="this.classList.add('btn-outline-secondary-hover')" 
                    onmouseout="this.classList.remove('btn-outline-secondary-hover')">
              Reparación de sistemas de seguridad y alarmas
            </button>
            <button class="btn btn-outline-secondary"
                    onmouseover="this.classList.add('btn-outline-secondary-hover')" 
                    onmouseout="this.classList.remove('btn-outline-secondary-hover')">
              Reparación de sistemas de ventilación
            </button>
            <button class="btn btn-outline-secondary"
                    onmouseover="this.classList.add('btn-outline-secondary-hover')" 
                    onmouseout="this.classList.remove('btn-outline-secondary-hover')">
              Reparación de calefacción eléctrica
            </button>
          </div>
        </div>
        
        
      </div>
    </div>
    <div class="col-4">
      <div class="row align-items-center justify-content-center">
        <div class="col-12">
          <p class="titulo-card">Instalaciones eléctricas comerciales</p>
        </div>
        <div class="col-12 card-servicio mb-5">
            <img src="assets/img/comercial-servicios.png"/>
        </div>
        
        <div class="form-step form-step-active">
          <div class="btn-group-toggle" data-toggle="buttons">
            <button class="btn btn-outline-secondary"
                    onmouseover="this.classList.add('btn-outline-secondary-hover')" 
                    onmouseout="this.classList.remove('btn-outline-secondary-hover')">
              Instalación de cableado eléctrico
            </button>
            <button class="btn btn-outline-secondary"
                    onmouseover="this.classList.add('btn-outline-secondary-hover')" 
                    onmouseout="this.classList.remove('btn-outline-secondary-hover')">
              Instalación de iluminación comercial
            </button>
            <button class="btn btn-outline-secondary"
                    onmouseover="this.classList.add('btn-outline-secondary-hover')" 
                    onmouseout="this.classList.remove('btn-outline-secondary-hover')">
              Instalación de sistemas de energía de respaldo
            </button>
            <button class="btn btn-outline-secondary"
                    onmouseover="this.classList.add('btn-outline-secondary-hover')" 
                    onmouseout="this.classList.remove('btn-outline-secondary-hover')">
              Instalación de sistemas de climatización
            </button>
            <button class="btn btn-outline-secondary"
                    onmouseover="this.classList.add('btn-outline-secondary-hover')" 
                    onmouseout="this.classList.remove('btn-outline-secondary-hover')">
              Instalación de sistemas de seguridad
            </button>
            <button class="btn btn-outline-secondary"
                    onmouseover="this.classList.add('btn-outline-secondary-hover')" 
                    onmouseout="this.classList.remove('btn-outline-secondary-hover')">
              Instalación de sistemas de comunicación
            </button>
            <button class="btn btn-outline-secondary"
                    onmouseover="this.classList.add('btn-outline-secondary-hover')" 
                    onmouseout="this.classList.remove('btn-outline-secondary-hover')">
              Instalación de sistemas de control
            </button>
          </div>
        </div>
        
      </div>
    </div>
  </div>

</section>
